*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
input{
    background-color: white;
}
.home-page{
    min-height: 100vh;
    background: url(/images/thibault-penin-AWOl7qqsffM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* .clown{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
.clown img{
    max-width: 160px;
    max-height: 50px;
    margin: 30px 0px;
}
.clown button{
    text-decoration: none;
    border-radius: 3px;
    background-color: #e50914;
    color: white;
    text-transform: capitalize;
    padding: 7px 17px;
    line-height: normal;
    font-weight: 400;
    font-size: 1rem;
    border: none;
    margin: 30px 0px;
}
.home-info{
    text-align: center;
    color: white;
    margin: auto;
}
.home-info-sub{
    /* max-width: 700px; */
    margin: auto;
}
.info-text-1{
    font-size: 62px;
    line-height: 1.1;
    font-weight: 570;
    margin-top: 17vh;
}
.info-text-2{
    font-size: 27px;
    margin: 16px;
}
.info-text-3{
    font-size: 20px;
    margin: 10px;
}
/* .input-enter{
    display: flex;
    flex-direction: row;
} */
/* .email{
    height: 70px;
    padding-left: 10px;
    width: 70vh;
} */
.email-enter{
    background-color: #e50914;
    font-size: 2em;
    
    cursor: pointer;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.butt{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sec-color{
    background-color: black;
}
.sect-color{
    background-color: black;
    min-height: 130vh;
    text-align: center;
}
.net-cont{
    border-top: 8px solid rgba(124, 124, 124, 0.171);
    color: white;
}
.col-4 h3{
    font-size: 50px;
    line-height: 49px;
    font-weight: 640;
}
.col-4 p{
    font-size: 25px;
}
.faq{
    margin-top: 70px;
    font-size: 50px;
    padding-bottom: 50px;
}
.acc-prop{
    margin: 10px 0;
}
.accordion-button{
    color: white;
    font-size: 27px;
    padding: 20px;
}
.accordion-body{
    color: white;
    text-align: left;
    background-color: rgb(59, 59, 59);
    font-size: 27px;
    padding: 23px;
}
.accordion-header button{
    background-color: rgb(59, 59, 59);
}
.done{
    font-size: 20px;
}
.input-enter-2{
    display: flex;
    flex-direction: row;
}
.foot-head:hover{
    text-decoration: underline;
    cursor: pointer;
}
.foot-content{
    max-width: 70vh;
}
footer{
    border-top: 8px solid rgba(124, 124, 124, 0.171);
    color: grey;
}
ul{
    display: flex;
}
li{
    cursor: pointer;
    padding: 0px;
    font-size: 13px;
}
li:hover{
    text-decoration: underline;
}